/* Sally Nasser Sobeh */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Small Screen*/
@media(max-width:767px)
{

}
/*Medium Screen*/
@media(min-width:768px){
.container{
    max-width: 768px;
}

}
/*Larg Screen*/
@media(min-width:992px){
    .container{
        min-width:992px;
    }
}
/*Extra Larg Screen*/
@media(min-width:1200px){
    .container{
        min-width:1200px;
    }
}
nav{
    display: flex;
    justify-content: right;
    align-items: center;
    padding:25px 4%;
}
nav ul{
    list-style: none;
}
nav ul li{
    display: inline-block;
    padding: 0 16px;

}
nav ul li a{
    text-decoration: none;
    color: #242A45;
    text-transform: capitalize;
    align-items: right;
    display: inline-block;
    font-weight: bold;
}
a span{
    color: #FF6464;
}
.container{
    padding: 80px 10%;
}
.container h4{
    font-weight: bold;
    padding-bottom: 20px;
    font-size: 30px;
}
hr{
    padding-bottom: 16px;
}
/* section{
    padding: 30px 8px;
} */
.work-row{
    display: flex;
    padding: 10px;
    border-bottom: solid 1px #E0E0E0;
  
    /* justify-content: space-between; */
    /* flex-wrap: nowrap; */
}
.left-sides img{
    padding-bottom: 8px;
}
.right-sides{
  
    padding: 20px;
}
.right-sides h3{
    font-size: 26px;
    color: #21243D;
    padding-top: 20px;
    padding-bottom: 15px;
}
.right-sides h3 a{
    text-decoration: none;
}
.right-sides p{
    padding-bottom: 15px;
    padding-left: 10px;
}
.right-sides .year{
    padding: 4px 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 4px;
    color: #FFFFFF;
    background-color: #21243D;
    border-radius: 20px;
}
.right-sides p span{
    color: #8695A4;
}
.foot-row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  
}
.foot-col{
    margin: 10px;
    padding:25px;
    /* flex-basis: 31%;  */
}
.foot-col img{
    padding: 11px;
}
.foot{
    padding: 10px;
    font-size: 16px;
}






